# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# ML / Large files
*.pt
*.pth
*.onnx
*.h5

# Docs & media
*.pdf
*.docx
*.pptx
*.exe
*.mpeg

# OS / junk
desktop.ini
*.lnk

# Environment
.env
*.pkl
